$color-brown: #b69673;
$color-white: #fafcf2;
$color-green: #8eb675;

$maxSizeBreakpoint: 600px;
$padding: 40px;
$leafBackgroundColor: #f2f2f2;
$leafTextColor: #2d3748;
$leafFontsize: 80px;
$leafFontFamily: 'Impact', sans serif;
$leafHeight: 64px;
$leafWidth2Digits: 120px;
$leafWidth3Digits: 148px;
$leafBorderRadius: 6px;
$leafShadowOpacity: 0.8;
$gapSize: 4px;
$foldSize: 2px;
$foldColor: #2d3748;
$perspective: 300px;
$labelFontSize: 14px;
$labelFontFamily: 'Geneva', sans serif;
$labelFontWeight: 400;
$labelTextColor: #f2f2f2;
$labelMarginTop: 8px;

$duration: 0.3s;
