.timeline {
	background-color: $color-brown;
	color: $color-white;
	position: relative;

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $color-brown;
		width: 100%;
		height: 100%;
		z-index: 2;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 5rem;
		line-height: 8rem;
	}

	&-center {
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 30%;
		margin: 0 auto;
		font-size: 2rem;

		@media (max-width: 550px) {
			max-width: 70%;
		}
	}
	&-item {
		border-top: 2px dashed $color-white;
		margin: 0;
		padding: 4rem 2rem;
		position: relative;
	}
	& p {
		margin-bottom: 0;
	}
	&-item:nth-child(even) {
		border-left: 2px dashed $color-white;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
		margin-right: 2rem;
		padding-right: 0;
	}
	&-item:nth-child(odd) {
		border-right: 2px dashed $color-white;
		border-top-right-radius: 2rem;
		border-bottom-right-radius: 2rem;
		margin-left: 2rem;
		padding-left: 0;
		text-align: right;
	}
	&-item:first-child {
		border-top: 0;
		border-top-right-radius: 0;
	}
	&-item:last-child {
		border-bottom-left-radius: 0;
	}
	.number {
		position: absolute;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		margin-bottom: 0;
		background: $color-brown;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		display: grid;
		place-items: center;
		color: $color-white;
		font-weight: bold;
	}
	&-item:nth-child(even) .number {
		left: 0;
	}
	&-item:nth-child(odd) .number {
		right: 0;
		-webkit-transform: translate(50%, -50%);
		transform: translate(50%, -50%);
	}
}
