.goodToKnow {
	background-color: $color-white;
	color: $color-brown;
	font-size: 2rem;
	text-align: center;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 400px));
		grid-gap: 1rem;
		color: $color-brown;
		justify-content: center;

		.check {
			@media screen and (min-width: 800px) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			font-weight: 700;
			margin-bottom: 2rem;
		}
	}

	p {
		padding: 2rem;
	}

	i {
		padding: 2rem;
		font-size: 3rem;
	}
}
