nav {
	background: $color-white;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	line-height: 1;
	font-size: 3rem;
	font-style: italic;
	width: 100%;
	position: fixed;
	z-index: 10000;
}
.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
.nav-toggle {
	font-size: 1.5rem;
	color: $color-brown;
	background: transparent;
	border-color: transparent;
	transition: all 0.3s linear;
	cursor: pointer;
}

.logo {
	margin-bottom: 0;
	font-weight: 700;
}

.social-icons {
	display: none;
}
.links a {
	color: hsl(209, 61%, 16%);
	font-size: 1rem;
	text-transform: capitalize;
	// letter-spacing: var(--letterSpacing);
	display: block;
	padding: 0.75rem 1rem;
	transition: all 0.3s linear;
	font-size: 2rem;
}
.links a:hover {
	background: $color-white;
	color: $color-brown;
	padding-left: 1.5rem;
}

.links {
	margin: 0;
	height: 0;
	overflow: hidden;
	transition: all 0.3s linear;
	/* todo height overflow transition */
	/* get height 160px 10rem*/
}

.show-links {
	height: 10rem;
}

.fa-bars {
	font-size: 3rem;
	padding-right: 3rem;
}

.fa-heart {
	color: red;
	padding: 0 1rem;
}

@media screen and (min-width: 800px) {
	.nav-toggle {
		display: none;
	}
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.nav-header {
		padding: 0;
	}
	.links {
		height: auto;
		display: flex;

		li {
			padding: 1rem;
		}
	}
	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}
}
