.photo {
	&__section {
		text-align: center;
	}

	&__container {
		font-size: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 980px) {
			flex-direction: column;
		}

		p {
			padding-bottom: 3rem;
		}

		.img {
			max-width: 55rem;
			box-shadow: -20px -11px 4px -2px rgba(66, 68, 90, 1);
			padding-right: 2rem;

			@media (max-width: 980px) {
				padding-right: 0;
				order: 2;
			}
			img {
				width: 100%;
			}
		}
	}
}
